<template>
  <v-container class="c-Wizard">
    <v-container>
      <v-row class="text-center">
        <v-col cols="12">
          <span class="my-3 material-icons c-Wizard_logo blue--text text--darken-2 ">auto_fix_high</span>
        </v-col>

        <v-col class="mb-4">
          <h1 class="display-2 font-weight-bold mb-3">
            {{ $t('app.heading') }}
          </h1>

          <h3 class="subheading font-weight-regular">
            {{ $t('app.title') }}
          </h3>
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-stepper
        v-show="verticalWiz"
        data-testid="c-Wizard_h-stepper"
        v-model="currentStep"
        vertical
      >
        <v-stepper-step step="1">
          {{ $t('app.define.title') }}
        </v-stepper-step>
        <v-stepper-content step="1">
          <define-csv />
        </v-stepper-content>

        <v-stepper-step step="2">
          {{ $t('app.upload.title') }}
        </v-stepper-step>
        <v-stepper-content step="2">
          <upload-csv />
        </v-stepper-content>

        <v-stepper-step step="3">
          {{ $t('app.review.title') }}
        </v-stepper-step>
        <v-stepper-content step="3">
          <review-csv />
        </v-stepper-content>

        <v-stepper-step step="4">
          {{ $t('app.store.title') }}
        </v-stepper-step>
        <v-stepper-content step="4">
          <store-csv />
        </v-stepper-content>
      </v-stepper>

      <v-stepper
        v-show="!verticalWiz"
        data-testid="c-Wizard_v-stepper"
        alt-labels
        v-model="currentStep"
      >
        <v-stepper-header>
          <v-stepper-step step="1">
            {{ $t('app.define.title') }}
          </v-stepper-step>

          <v-divider />

          <v-stepper-step step="2">
            {{ $t('app.upload.title') }}
          </v-stepper-step>

          <v-divider />

          <v-stepper-step step="3">
            {{ $t('app.review.title') }}
          </v-stepper-step>

          <v-divider />

          <v-stepper-step step="4">
            {{ $t('app.store.title') }}
          </v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <define-csv />
          </v-stepper-content>

          <v-stepper-content step="2">
            <upload-csv />
          </v-stepper-content>

          <v-stepper-content step="3">
            <review-csv />
          </v-stepper-content>

          <v-stepper-content step="4">
            <store-csv />
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-container>
  </v-container>
</template>

<script>
import DefineCsv from "@/components/DefineCsv";
import UploadCsv from '@/components/UploadCsv';
import ReviewCsv from '@/components/ReviewCsv';
import StoreCsv from '@/components/StoreCsv';

export default {
  name: 'CsvWizard',

  components: { StoreCsv, UploadCsv, ReviewCsv, DefineCsv },

  data() {
    return {
      currentStep: 1,
    }
  },

  computed: {
    verticalWiz() { return this.$vuetify.breakpoint.smAndDown; }
  },
  mounted() {
    window.cswiz = this;
  }
}
</script>

<style lang="scss" scoped>
.c-Wizard {
  &_logo {
    font-size: 10rem;
  }
}
</style>
