<template>
  <div class="c-Upload p-4" data-testid="c-Define">
    <div class="md-title p-5">{{ $t('app.define.title') }}</div>
    <div class="md-subhead p-3">{{ $t('app.wip') }}</div>
  </div>
</template>

<script>
export default {
  name: 'DefineCsv'
}
</script>

<style scoped>

</style>
