<template>
  <div
    class="c-Upload p-4"
    data-testid="c-Upload"
  >
    <div class="md-title p-5">
      {{ $t('app.store.title') }}
    </div>
    <div class="md-subhead p-3">
      {{ $t('app.wip') }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'StoreCsv'
}
</script>

<style scoped>

</style>
