<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <span class="material-icons">auto_fix_high</span>

        <h1 class="px-2">CSWiz</h1>
      </div>

      <v-spacer />

      <v-btn
        @click="changeLocale('en')"
        icon
      >
        <v-icon>🇬🇧</v-icon>
      </v-btn>

      <v-btn
        @click="changeLocale('it')"
        icon
      >
        <v-icon>🇮🇹</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <csv-wizard />
    </v-main>
  </v-app>
</template>

<script>
import CsvWizard from "@/components/CsvWizard";

export default {
  name: 'App',

  components: {
    CsvWizard,
  },

  methods: {
    changeLocale(locale) {
      if (!locale) return;

      this.$i18n.locale = locale;
    }
  },
};
</script>
